:root{
    --swiper-pagination-bottom: 0;
    --main-active-color-1: #93baf1;
    --main-active-color-2: #4B5360;
    --main-gradient-color: #93baf180;
    --bg-1-color: #313131;
    --bg-2-color: #3B3B3B;
    --text-color-1: rgb(225, 225, 225);
    --text-color-2: rgb(30, 30, 30);
}

::-webkit-scrollbar {
    display: none;
	width: 5px;
	border-radius: 5px;
}
::-webkit-scrollbar-thumb {
    display: none;
	border-radius: 5px;
	background-color: var(--text-color-1);
}

*,
*:after,
*:before {
	padding: 0;
	margin: 0;
	-webkit-tap-highlight-color: #00000000;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
	padding: 0;
    background-color: var(--bg-1-color);
    color: var(--text-color-1);
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
    font-weight: 400;
    user-select: none;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

button {
    background: none;
    background-repeat:no-repeat;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

/* ------------------------ Header -------------------- */

header {
    height: 56px;
    width: 100%;
    padding: 0 20px;
    background-color: var(--bg-2-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 1.4em;
    font-weight: 400;
    color: var(--main-active-color-1);
}

header img {
    height: 30px;
    cursor: pointer;
}

header button {
    background-image: url(images/reload_2.svg);
    height: 34px;
    width: 34px;
}

header img#ReloadIcon {
    height: 34px;
}

/* ------------------------ Content -------------------- */

.Content {
    margin: 0;
    padding: 0;
    width: 100%;
    padding: 0 15px 0 15px;
    flex: 1;
}

.Date{
    position: sticky;
    top: 0;
    margin: 8px auto;
    height: 34px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    background-color: var(--bg-2-color);
    border-radius: 17px;
}

.Date.scrolled {
   border-top-left-radius: 0;
   border-top-right-radius: 0;
   border: 2px solid var(--main-active-color-1);
   border-top: 0;
}

/* ------------------------ Container -------------------- */

.lessonHeader{
    width: 100%;
    height: 30px;
    color: var(--text-color-2);
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-active-color-1);
    padding: 0 10px;
}

.sectionContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5px;
}

.lesson {
    margin-bottom: 15px;
    border-radius: 10px;
    overflow: hidden;
}

.lesson .section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
    font-size: 0.8em;
    padding: 10px 5px;
    gap: 8px;
    line-height: 1.2em;
}

.lesson .section .wrapper {
    font-size: 1.1em;
    font-weight: 600;
}

.section-1, 
.section-2,
.section-3,
.section-4 {
    background-color: var(--bg-2-color);
}

.day {
    overflow-y: scroll;
    height: calc(100% - 60px);
}

/* ------------------------ Grids -------------------- */

/* Monday */

#monday .lesson-2 .sectionContainer {
    grid-template-rows: 1fr;
}

#monday .lesson-1 .section-3 {
    grid-column: 1/3;
}

/* Thursday */

#tuesday .lesson .section-1,
#tuesday .lesson .section-2 {
    grid-column: 1/3;
}

/* #tuesday .lesson-1 .sectionContainer {
    grid-template-rows: 1fr 0.8fr;
}

#tuesday .lesson-2 .sectionContainer {
    grid-template-rows: 0.9fr 1fr;
} */

/* Wednesday */

#wednesday .lesson .sectionContainer {
    grid-template-rows: 1fr;
}

#wednesday .lesson .section-1 {
    grid-column: 1/3;
}

/* Thursday */

#thursday .lesson .sectionContainer {
    grid-template-rows: 1fr;
}

#thursday .lesson .section {
    grid-column: 1/3;
}

/* Friday */

#friday .lesson .sectionContainer {
    grid-template-rows: 1fr;
}

#friday .lesson-3 .section-1,
#friday .lesson-4 .section-1 {
    grid-column: 1/3;
}

/* ------------------------ Footer -------------------- */

.swiper-pagination {
    height: 60px;
    width: 100%;
    background-color: var(--bg-2-color);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.swiper-pagination div {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1em;
    cursor: pointer;
}

.swiper-pagination div.active {
    position: relative;
    color: var(--main-active-color-1);
    background: var(--main-gradient-color);
    background: linear-gradient(180deg, var(--main-gradient-color) 0%, var(--bg-2-color) 100%);
}

.swiper-pagination div.active::before {
    position: absolute;
    content: "";
    top: 0;
    width: 100%;
    height: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: var(--main-active-color-1);
}