:root{
    --main-active-color: #93baf1;
    --main-non-active-color: #4B5360;
    --main-gradient-color: #93baf180;
    --bg-1-color: #313131;
    --bg-2-color: #3B3B3B;
    --text-color: white;
}

::-webkit-scrollbar {
	width: 0;
	border-radius: 5px;
}
::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background-color: var(--text-color) ;
}

*,
body,
*:after,
*:before {
	padding: 0;
	margin: 0;
	-webkit-tap-highlight-color: #00000000;
}

html, 
body {
    margin: 0;
	padding: 0;
    background-color: var(--bg-1-color);
    color: var(--text-color);
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
    font-weight: 400;
    overflow: hidden;
    user-select: none;
}

/* ------------------------ Header -------------------- */

header {
    height: 20px;
    width: calc(100% - 40px);
    padding: 15px 20px;
    background-color: var(--bg-2-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 1.4em;
    font-weight: 400;
    color: var(--main-active-color);
}

header img {
    height: 30px;
    cursor: pointer;
}

/* ------------------------ Content -------------------- */

.Content {
    width: 100%;
    height: calc(100vh - 160px - 180px);
    margin: 0;
    padding: 0;
}

.Content .Date{
    height: 30px;
    width: 50%;
    margin: 8px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    background-color: var(--bg-2-color);
    border-radius: 15px;
}

.Content .LessonsContainer {
    width: 100%;
    height: calc(100vh - 50px - 46px - 60px);
    overflow-y: scroll;
}

/* ------------------------ Lessons -------------------- */

.Lesson {
    height: 10000px;
}



/* ------------------------ Footer -------------------- */

footer {
    height: 60px;
    width: 100%;
    background-color: var(--bg-2-color);
    bottom: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

footer div {
    width: calc(100% / 5);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1em;
    cursor: pointer;
}

footer div.active {
    position: relative;
    color: var(--main-active-color);
    background: var(--main-active-color);
    background: linear-gradient(180deg, var(--main-gradient-color) 0%, var(--bg-2-color) 100%);
}

footer div.active::before {
    position: absolute;
    content: "";
    top: 0;
    width: 100%;
    height: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: var(--main-active-color);
}